@using Microsoft.AspNetCore.Authorization
@using Satistic.Models.ViewModels
@model MoadiViewModel
@{

}
<section class="basic-elements" dir="rtl">
    <form method="get" asp-action="Lookup" asp-controller="Home" dir="rtl">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title-wrap bar-success">
                            <h5 class="card-title mb-0">جستجو</h5>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="px-3">
                            <div class="form-body" >
                                <div class="row">
                                    <div class="col-xl-4 col-lg-6 col-md-12 mb-1" >
                                        <fieldset class="form-group">
                                            <label for="basicInput">کد ملی</label>
                                            @Html.ValidationMessageFor(model =>model.CodMelli, "", new { @class = "text-danger" })
                                            <input type="text" asp-for="CodMelli" class="form-control"  id="NationalCode">
                                                
                                        </fieldset>
                                    </div>

                                    <div class="col-xl-4 col-lg-6 col-md-12 mb-1">
                                        <fieldset class="form-group">
                                            <label for="basicSelect">منبع</label>
                                            @Html.ValidationMessageFor(model =>model.ddl_sourceId, "", new { @class = "text-danger" })

                                            <select class="form-control" id="ddl_Source" asp-for="ddl_sourceId" asp-items="@((SelectList)ViewData["ddl_items"])">
                                                <option> انتخاب کنید...</option>
                                            </select>

                                        </fieldset>
                                    </div>
                                    <div class="col-xl-4 col-lg-6 col-md-12 mb-1">
                                        <fieldset class="form-group">
                                            <label for="helpInputTop">سال</label>
                                            @Html.ValidationMessageFor(model =>model.Sal, "", new { @class = "text-danger" })

                                            <input type="text" asp-for="Sal" class="form-control" id="Year">

                                        </fieldset>
                                    </div>


                                    <div class="col-xl-4 col-lg-6 col-md-12 mb-1">
                                        <fieldset class="form-group">
                                            <label for="basicSelect">دوره</label>
                                            @Html.ValidationMessageFor(model =>model.ddl_DoreId, "", new { @class = "text-danger" })

                                            <select class="form-control" id="Dore" asp-for="ddl_DoreId">
                                                <option>انتخاب کنید...</option>
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                            </select>

                                        </fieldset>
                                    </div>


                                    <div class="col-xl-12 col-lg-12 col-md-12 mb-1">
                                        <fieldset class="form-group">
                                            <br />
                                            @*<a onclick="GetSellerProduct()" class="btn btn-success col-md-12">جستجو </a>*@
                                            <input type="submit" class="btn btn-success col-md-12" value="جستجو" />
                                        </fieldset>
                                    </div>


                                </div>
                                @if (Model.MoadiShenases != null && Model.MoadiShenases.Count!=0)
                                {
                                    <table class="table table-striped table-bordered zero-configuration dataTable" role="grid">
                                        <thead>
                                            <tr>
                                                <th>کد رهگیری</th>
                                                <th>TIN</th>
                                                <th>شناسه مشارکت</th>  
                                                <th>شناسه اظهارنامه</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model.MoadiShenases)
                                            {
                                                <tr>
                                                    <td>@Html.DisplayFor(modelItem => item.RahgiriNo)</td>
                                                    <td>@item.TIN</td>
                                                     <td>@item.MosharekatMember</td>
                                                     <td>@item.ShenaseEzharname</td>
                                                    <td>
                                                        <a href="javascript:void()"   onclick="GetDetails('@item.ShenaseEzharname')" >جزئیات</a>
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                }
                                @if(Model.MoadiShenases != null)
                                {
                                    @if(Model.MoadiShenases.Count==0)
                                    {
                                        <div class="tab" style="background-color:#ffdfde;vertical-align:middle">
                                            <p style="font-style:italic;font-size:small"> اطلاعاتی برای نمایش وجود ندارد ...</p>
                                        </div>
                                    }
                                }

                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </form>

 </section>
                  

<script>

function ShowDetailsModal(XLabels,YValues) {
        var xLables=[];
        var yValues=[];
        xLables=XLabels.split(',');
        yValues=YValues.split(',');
        
         document.getElementById("Chart").style.display = "block";
         document.getElementById("Flowchart").style.display = "none";
         document.getElementById("btn_Flow").className="tablinks";
         document.getElementById("btn_chart").className="tablinks active";

        $('#DetailsModal').modal('show');
        setTimeout(function () {
            var modal = $('#DetailsModal');
            //var canvas = modal.find('.modal-body canvas');
            var canvas=document.getElementById("chart");

            // Chart initialisieren
            //var ctx = canvas[0].getContext("2d");
            var ctx = canvas.getContext("2d");
            var chartName = "chart";
            //var ctx = $('#DetailsModal').modal('show').getElementById(chartName).getContext('2d');
            var data = {
                //labels: Html.Raw(XLabels),
                labels: xLables,
                datasets: [{
                    label: "نمودار وضعیت",
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)',
                        'rgba(255, 0, 0)',
                        'rgba(0, 255, 0)',
                        'rgba(0, 0, 255)',
                        'rgba(192, 192, 192)',
                        'rgba(255, 255, 0)',
                        'rgba(255, 0, 255)'
                    ],
                    borderColor: [
                        'rgba(255,99,132,1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)',
                        'rgba(255, 0, 0)',
                        'rgba(0, 255, 0)',
                        'rgba(0, 0, 255)',
                        'rgba(192, 192, 192)',
                        'rgba(255, 255, 0)',
                        'rgba(255, 0, 255)'
                    ],
                    borderWidth: 1,
                    data: yValues
                    //data:YValues
            }]
            };

            var options = {
                maintainAspectRatio: false,
                scales: {
                    yAxes: [{
                        ticks: {
                            min: 0,
                            beginAtZero: true
                        },
                        gridLines: {
                            display: true,
                            color: "rgba(255,99,164,0.2)"
                        }
                    }],
                    xAxes: [{
                        ticks: {
                            min: 0,
                            beginAtZero: true
                        },
                        gridLines: {
                            display: false
                        }
                    }]
                }
            };

            var myChart = new Chart(ctx, {
                options: options,
                data: data,
                type: 'line'

            });
        }, 2000)

    }


function GetDetails(sh_ezharname) {
        var postData = {
            'Sh_ezharname': sh_ezharname,
        };

        $.ajax({
            contentType: 'application/x-www-form-urlencoded',
            dataType: 'json',
            type: "GET",
                url: "Details",
                data: postData,
                success: function (data) {
                    var flg_r_=true;
                    var flg_t_=true;
                    var flg_te_=true;
                    var flg_e_=true;
                    var flg_ec_=true;
                    var flg_b_=true;
                    var flg_bc_=true;
                    var flg_tn_=true;
                    var flg_tnc_=true;
                    var flg_gh_=true;

                    var JsonChart='[';
                     var YValues="";
                     var XLabels="";

                   var htmltext_r_='<table><tbody> ';
                   var htmltext_t_='<table ><tbody> ';
                   var htmltext_te_='<table ><tbody> ';
                   var htmltext_e_='<table ><tbody> ';
                   var htmltext_ec_='<table ><tbody> ';
                   var htmltext_b_='<table ><tbody> ';
                   var htmltext_bc_='<table ><tbody> ';
                   var htmltext_tn_='<table ><tbody> ';
                   var htmltext_tnc_='<table ><tbody> ';
                   var htmltext_gh_='<table > <tbody> ';

                    document.getElementById("spn_ezhar").innerHTML="";
                    document.getElementById("spn_tashkhis").innerHTML="";
                    document.getElementById("spn_eblagh_t").innerHTML='';
                    document.getElementById("spn_eteraz").innerHTML="";
                    document.getElementById("spn_badvi").innerHTML="";
                    document.getElementById("spn_heiattajdid").innerHTML="";
                    document.getElementById("spn_ghatee").innerHTML='';
                    document.getElementById('spn_tashkhis_label').style.backgroundColor="gray";
                    document.getElementById('spn_eblagh_t_label').style.backgroundColor="gray";
                    document.getElementById('spn_eteraz_label').style.backgroundColor="gray";
                    document.getElementById('spn_badvi_label').style.backgroundColor="gray";
                    document.getElementById('spn_heiattajdid_label').style.backgroundColor="gray";
                    document.getElementById('spn_ghatee_label').style.backgroundColor="gray";

                   $.each(data, function(index, element) {

                       //----------------------------------
                        if(index == data.length -1)
                        {
                            XLabels= XLabels.substring(0, XLabels.length  -1);
                            YValues= YValues.substring(0, YValues.length  -1);
                             ShowDetailsModal(XLabels,YValues);
                        } 
                        if(element.field_Name  == "r_مالیات ابرازی" || element.field_Name == "t_مالیات تشخیص" ||
                                 element.field_Name  == "ec_مالیات اعتراض" || element.field_Name  == "b_DaramadBadvi" || element.field_Name  == "gh_مالیات قطعی")
                        {
                            if(element.field_Value != "")
                            {
                            //     YValues+= " 0 ," ;
                            //}
                            //else 
                            //{
                                YValues+= element.field_Value +",";
                                XLabels+=element.field_Name.split('_')[1] +",";

                            }
                            //JsonChart+="{ 'Step':'"+element.field_Name +"',"+"'Value':'"+element.field_Value+"'},";
                        }
                         //-----------------------------------------------
                            if(element.field_Name.substring(0,2)=="r_" && element.field_Value != "" )
                            {
                                htmltext_r_+=' <tr><td>'+element.field_Name.split('_')[1] +': </td>' +' <td>'+element.field_Value+' </td> </tr>';
                                flg_r_=false;
                            }

                            if(element.field_Name.substring(0,2)!="r_" && flg_r_==false)
                            {
                                htmltext_r_ += ' </tbody> </table>';
                                document.getElementById("spn_ezhar").innerHTML=htmltext_r_;
                                flg_r_=true;
                            }

                            //----------------------------------------
                            if(element.field_Name.substring(0,2)=="t_" && element.field_Value != "")
                            {
                                htmltext_t_+=' <tr><td>'+element.field_Name.split('_')[1]  +': </td>' +' <td>'+element.field_Value+' </td> </tr>';
                                flg_t_=false;
                            }
                            if(element.field_Name.substring(0,2)!="t_" && flg_t_==false)
                            {
                                htmltext_t_ += ' </tbody> </table>';
                                document.getElementById("spn_tashkhis").innerHTML=htmltext_t_;
                                document.getElementById('spn_tashkhis_label').style.backgroundColor="green";
                                flg_t_=true;
                            }

                            //----------------------------------------
                            if(element.field_Name.split('_')[0]=="te" && element.field_Value != "")
                            {
                                htmltext_te_+=' <tr><td>'+element.field_Name.split('_')[1]  +': </td>' +' <td>'+element.field_Value+' </td> </tr>';
                                flg_te_=false;
                            }
                            if(element.field_Name.split('_')[0]!="te" && flg_te_==false)
                            {
                                htmltext_te_ += ' </tbody> </table>';
                                document.getElementById("spn_eblagh_t").innerHTML=htmltext_te_;
                                document.getElementById('spn_eblagh_t_label').style.backgroundColor="green";
                                flg_te_=true;
                            }

                            //------------------------------------
                            if(element.field_Name.substring(0,2)=="e_" && element.field_Value != "")
                            {
                                htmltext_e_+=' <tr><td>'+element.field_Name.split('_')[1] +': </td>' +' <td>'+element.field_Value+' </td> </tr>';
                                flg_e_=false;
                            }
                            if(element.field_Name.substring(0,2)!="e_" && flg_e_==false)
                            {
                                htmltext_e_ += ' </tbody> </table>';
                                document.getElementById("spn_eteraz").innerHTML=htmltext_e_;
                                document.getElementById('spn_eteraz_label').style.backgroundColor="green";
                                flg_e_=true;
                            }
                            //---------------------------------------
                            if(element.field_Name.split('_')[0]=="ec" && element.field_Value != "")
                            {
                                htmltext_ec_+=' <tr><td>'+element.field_Name +': </td>' +' <td>'+element.field_Value+' </td> </tr>';
                                flg_ec_=false;
                            }
                            if(element.field_Name.split('_')[0]!="ec" && flg_ec_==false)
                            {
                                htmltext_ec_ += ' </tbody> </table>';
                                document.getElementById("spn_eteraz").innerHTML=htmltext_ec_;
                                document.getElementById('spn_eteraz_label').style.backgroundColor="green";
                                flg_ec_=true;
                            }
                         
                                //---------------------------------------------
                            if(element.field_Name.substring(0,2)=="b_" && element.field_Value != "")
                            {
                                htmltext_b_+=' <tr><td>'+element.field_Name.split('_')[1] +': </td>' +' <td>'+element.field_Value+' </td> </tr>';
                                flg_b_=false;
                            }
                            if(element.field_Name.substring(0,2)!="b_" && flg_b_==false)
                            {
                                htmltext_b_ += ' </tbody> </table>';
                                document.getElementById("spn_badvi").innerHTML=htmltext_b_;
                                document.getElementById('spn_badvi_label').style.backgroundColor="green";
                                flg_b_=true;
                            }
                                //---------------------------------------------
                            if(element.field_Name.split('_')[0]=="bc" && element.field_Value != "")
                            {
                                htmltext_bc_+=' <tr><td>'+element.field_Name.split('_')[1] +': </td>' +' <td>'+element.field_Value+' </td> </tr>';
                                flg_bc_=false;
                            }
                            if(element.field_Name.split('_')[0]!="bc" && flg_bc_==false)
                            {
                                htmltext_bc_ += ' </tbody> </table>';
                                document.getElementById("spn_badvi").innerHTML=htmltext_bc_;
                                document.getElementById('spn_badvi_label').style.backgroundColor="green";
                                flg_bc_=true;
                            }
                                //---------------------------------------------
                            if(element.field_Name.split('_')[0]=="tn" && element.field_Value != "" )
                            {
                                htmltext_tn_+=' <tr><td>'+element.field_Name.split('_')[1] +': </td>' +' <td>'+element.field_Value+' </td> </tr>';
                                flg_tn_=false
                            }
                            if(element.field_Name.split('_')[0]!="tn" && flg_tn_==false)
                            {
                                htmltext_tn_ += ' </tbody> </table>';
                                document.getElementById("spn_heiattajdid").innerHTML=htmltext_tn_;
                                document.getElementById('spn_heiattajdid_label').style.backgroundColor="green";
                                flg_tn_=true;
                            }
                                //---------------------------------------------
                                if(element.field_Name.split('_')[0]=="tnc" && element.field_Value != "")
                                {
                                    htmltext_tnc_+=' <tr><td>'+element.field_Name +': </td>' +' <td>'+element.field_Value+' </td> </tr>';
                                    flg_tnc_=false;
                                }
                                if(element.field_Name.split('_')[0]!="tnc" && flg_tnc_==false)
                                 {
                                    htmltext_tnc_ += ' </tbody> </table>';
                                    document.getElementById("spn_heiattajdid").innerHTML=htmltext_tnc_;
                                    document.getElementById('spn_heiattajdid_label').style.backgroundColor="green";
                                    flg_tnc_=true;
                                 }
                                //---------------------------------------------
                                if(element.field_Name.split('_')[0]=="gh" && element.field_Value != "" )
                                {
                                    htmltext_gh_+=' <tr><td>'+element.field_Name.split('_')[1] +': </td>' +' <td>'+element.field_Value+' </td> </tr>';
                                    flg_gh_=false;
                                }
                                if(element.field_Name.split('_')[0]!="gh" && flg_gh_==false)
                                 {
                                    htmltext_gh_ += ' </tbody> </table>';
                                    document.getElementById("spn_ghatee").innerHTML=htmltext_gh_;
                                    document.getElementById('spn_ghatee_label').style.backgroundColor="green";
                                    flg_gh_=true;
                                }
                   });  
                    
                }
                       
        });
       
    }


function openContent(evt, tabName) {
      var i, tabcontent, tablinks;
      tabcontent = document.getElementsByClassName("tabcontent");
      for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
      }
      tablinks = document.getElementsByClassName("tablinks");
      for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
      }
      document.getElementById(tabName).style.display = "block";
      evt.currentTarget.className += " active";
}
</script>
<script src="~/js/Chart.bundle.min.js"></script>
<script src="~/js/jquery-3.3.1.min.js"></script>

@section Modals
{
     <!-- Modal  -->
    <div class="modal" id="DetailsModal" style="overflow:auto;direction:ltr"  >
     
            <div class="modal-content">
                <div class="modal-header" style="text-align:right;direction:rtl">
                    <h5 class="modal-title" > جزئیات </h5>
                   <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div   >
                    <div class="tab" style="text-align:right;direction:rtl">
                        <button id="btn_Flow" class="tablinks" onclick="openContent(event, 'Flowchart')">فلوچارت</button>
                        <button id="btn_chart" class="tablinks" onclick="openContent(event, 'Chart')">نمودار وضعیت </button>
                    </div>

                    <div id="Flowchart" class="tabcontent"  >
                           @await Html.PartialAsync("Flowchart2")
                    </div>

                     <div id="Chart" class="tabcontent" >
                         <div class="chart-container">
                               <canvas id="chart" style="width:400px; height:200px"></canvas>
                         </div>
                    </div>

 
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>

            </div>
       
    </div>
}


